# Ignore build folders
**/build-*/*
**/build/*
**/cmake-build*/*
**/CMakeFiles/*

# Ignore Clava intermidiate files
consumer_order.txt
enum_integer_type.txt
is_temporary.txt
omp.txt
types_with_templates.txt

# Ignore weaved code folders
**/weaved_code/*
**/woven/*
**/woven_code/*
**/generated/*
**/output/*

# Ignore automatically created results
*.csv
*.xlsx
**/metrics/*
*.json

# Do not include data inputs in the repository,
# they should be provided in a separate file
**/data/*

# Ignore class files and IDE-related files
*.class
*.project
*.classpath
**/.idea/*

# Misc
mweaver.aspectdata
mweaver_typeDef.txt
a.exe
ranges_foobar*
**/matlab-handwritten/*
debug
debug_



#AutuTuner folders
**/autotuner/*
**/high_level_interface/*
